// .react-player-wrapper {
//     position: relative;
//     padding-top: 56.25%;
//     width: 60%;
//     height: 60%;
 
//     .player {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 600px;
//     }

// }
    
 

.main-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    .player-timestamps-container {
        width: 70%;
        position: relative;
        padding-top: 56.25%;
        margin-left: 2vw;
    
        .player-timestamps {
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 80%;
        }
    }
    .bar-graph-container {
        width: 40%;
        margin-left: -150px;
        margin-right: 20px;
        height: 50vh;
        // background-color: #fff;
        // border-radius: 10px;
    }
   
    
}