// .react-player-wrapper {
//     position: relative;
//     padding-top: 56.25%;
//     width: 60%;
//     height: 60%;
 
//     .player {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 600px;
//     }

// }
    
 

.main-container{
    width: 100vw;
    .player-timestamps-container {
        width: 70%;
        position: relative;
        padding-top: 56.25%;
        .player-timestamps {
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 80%;
        }
    }
    .bar-chart-container {
        width: 30%;
    }
}