.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




@media only screen and (max-width: 1000px) {
  .boss-selection-box{
    width: 80vw !important;
  }

}

@media only screen and (max-width: 650px){
  .boss-selection-box {
    width: 100vw !important;
    margin-top: 7vh;
  }
}

@media only screen and (max-width: 500px) {
  .boss-selection-box {
    width: 90vw !important;
  }
}