
.boss-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
.talent-boss-deaths-container{
    max-height: 40vh;

}
}

@media only screen and (max-width: 2560px) {
    .boss-container{
        margin-top: -3vh;
    }
}

@media only screen and (min-width: 2561px) {
    .boss-container{
        margin-top: 0;
    }
}