.boss-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -4vh;

}

.talent-boss-deaths-container{
    max-height: 30vh;
    overflow-y: scroll;

    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    .talent-boss-data {
        width: 200px;
        height: 250px;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        .talent-image{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
            background-repeat: no-repeat;  
        }
        .death-description {
            text-align: center;
            color: #fff;
            .talent-name{
                font-size: 150%;
            }
            .talent-deaths{
                font-size: 300%;
            }
        }
    }
}
